<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/istiriam.css">
  <link rel="stylesheet" href="">
  <meta name="description" content="HTML5 website template">
  <meta name="keywords" content="global, template, html, sass, jquery">
  <meta name="author" content="Bucky Maler">
  <link rel="stylesheet" href="./css/css/main.css">
  <title>История айти</title>

</head>

<body>

  <header>
    <button class="scroll"></button>
    <div class="topnav" id="myTopnav">
      <a href="../istoria.html" class="active">Главная</a>

  </header>


  <div class="device-notification">
    
    
    <p class="device-notification--message">БУНТАШНЫЙ ВЕК НАЗЫВАЕТСЯ</p>
  </div>

  <div class="perspective effect-rotate-left">
    <div class="container">
      <div class="outer-nav--return"></div>
      <div id="viewport" class="l-viewport">
        <div class="l-wrapper">
         
          <nav class="l-side-nav">
            <ul class="side-nav">
              <li class="is-active"><span>Почему ?</span></li>
              <li><span>Виды</span></li>
              
              
            </ul>
          </nav>
          <ul class="l-main-content main-content">
            <li class="l-section section section--is-active">
              <div class="intro">
                <div class="intro--banner">
                  <h1>ПОЧЕМУ <br> БУНТАШНЫЙ <br> ВЕК <br> ? </h1>
                  
                 
                </div>
                <div class="intro--options">
                  <a href="#0">
                    <h3>Почему</h3>
                    <p>XVII век называют "Бунташным веком" во многом благодаря народным движениям (бунтам и восстаниям)</p>
                  </a>
                  <a href="#0">
                    <h3>Восстания</h3>
                    <p>В Бунташный век произошло 5 крупных восстаний  и огромное количество мелких восстаний, которые даже невозможно сосчитать. Основные народные движения той эпохи. </p>
                  </a>
                  <a href="#0">
                    <h3>Причины</h3>
                    <p>Обратите внимание, что для подавления большинства восстаний использовалась регулярная армия. Причем не самые маленькие части, а самые боеспособные. Считается, что если в столетии происходит 2-3 крупных народных восстания, то это означает, что в стране есть проблема. </p>
                  </a>
                </div>
              </div>
            </li>
            <li class="l-section section">
              <div class="work">
                <h1>Виды бунтов</h1>
                <div class="work--lockup">
                  <ul class="slider">
                   
                    <li class="slider--item slider--item-center">
                      <a href="#0">
                        <div class="slider--item-image">
                          <img src="./img/736d5eeadd248b0ae782a2138be76a10.webp" alt="Стрелецкий бунт">
                        </div>
                        <p class="slider--item-title">Соляной бунт</p>
                        <p class="slider--item-description">1648</p>
                      </a>
                    </li>
                    <li class="slider--item slider--item-right">
                      <a href="#0">
                        <div class="slider--item-image">
                          <img src="./img/53536ece4da441333e98d4dd94d17a1d.webp" alt="">
                        </div>
                        <p class="slider--item-title">Медный бунт</p>
                        <p class="slider--item-description">1662</p>
                      </a>
                    </li>
                     <li class="slider--item slider--item-right">
                      <a href="#0">
                        <div class="slider--item-image">
                          <img src="img/e9e61cf8b6862be8ee6da8247cef0c71.jpg" alt="Alex Nowak">
                        </div>
                        <p class="slider--item-title">Восстание Степана Разина</p>
                        <p class="slider--item-description">1667</p>
                      </a>
                    </li>
                    <li class="slider--item slider--item-right">
                      <a href="#0">
                        <div class="slider--item-image">
                          <img src="./img/af8015662aba2ad9b6b52292ae770602.webp" alt="">
                        </div>
                        <p class="slider--item-title">Стрелецкий бунт</p>
                        <p class="slider--item-description">1682</p>
                      </a>
                    </li>
                   
                  </ul>
                  <div class="slider--prev">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118"
                      style="enable-background:new 0 0 150 118;" xml:space="preserve">
                      <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                        <path d="M561,1169C525,1155,10,640,3,612c-3-13,1-36,8-52c8-15,134-145,281-289C527,41,562,10,590,10c22,0,41,9,61,29
                      c55,55,49,64-163,278L296,510h575c564,0,576,0,597,20c46,43,37,109-18,137c-19,10-159,13-590,13l-565,1l182,180
                      c101,99,187,188,193,199c16,30,12,57-12,84C631,1174,595,1183,561,1169z" />
                      </g>
                    </svg>
                  </div>
                  <div class="slider--next">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118"
                      style="enable-background:new 0 0 150 118;" xml:space="preserve">
                      <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                        <path
                          d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z" />
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
            </li>
            <li class="l-section section">
              <div class="about">
                <div class="about--banner">
                  <h1>Правители в <br> момент бунтов</h1>
                 
                   
                  </a>
                 
                </div>
                <div class="card">

                <div class="about--options">
                  <a href="#0">
                    <h3>ЦАРЬ МИХАИЛ РОМАНОВ</h3>
                  </a>
                  
                  <a href="#0">
                    <h3>ЦАРЬ ФЕДОР РОМАНОВ</h3>
                    
                  </a>
                </div>
                </div>
              </div>
            </li>
            
            <li class="l-section section">
              <div class="hire">
              
               
                      
                      
                    
                      
                  <div class="work-request--information">
                    <div class="information-name">
                      <input id="name" type="text" spellcheck="false">
                      <label for="name">Name</label>
                    </div>
                    <div class="information-email">
                      <input id="email" type="email" spellcheck="false">
                      <label for="email">Email</label>
                    </div>
                  </div>
                  <input type="submit" value="Send Request">
                </form>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ul class="outer-nav">
      <li class="is-active">Home</li>
      <li>Works</li>
      <li>About</li>
      <li>Contact</li>
      <li>Hire us</li>
    </ul>
  </div>











  <main>



    <!--<ul id="dates">

          <li><a href="#1632" class="selected">1632</a></li>
          <li><a href="#1654">1654</a></li>
          <li><a href="#1656">1656</a></li>
          <li><a href="#1667">1667</a></li>
          <li><a href="#1677">1677</a></li>
           <li><a href="#1977">1</a></li> 
          <li><a href="#1989">1989</a></li>
          <li><a href="#1999">1999</a></li>
          <li><a href="#2001">2001</a></li>
          <li><a href="#2011">2011</a></li>
        </ul>
        <ul id="issues">
          <li id="1632" class="selected">
            <img src="./free-png.ru-852.png" />
            <h1>1632</h1>
            <p>Смоленская война, или русско-польская война 1632—1634 годов, — война между Русским царством и Речью Посполитой. Россия пыталась вернуть Смоленск и прилежащие территории, вошедшие в состав Речи Посполитой по результатам войны 1609—1618 годов.</p>
          </li>
          <li id="1654">
            <img src="./free-png.ru-861.png" />
            <h1>1654</h1>
            <p>Русско-польская война 1654-1667 пришлась на царствование Алексея Романова. Военное противостояние длилось 13 лет и почти полностью разорило казну двух государств. Причиной, начала войны с Польшей стало сразу несколько событий, которые начавшись с небольших конфликтов, постепенно переросли в вооружённые столкновения. Большую роль в причинах противостояния Польши и России сыграла Украина.</p>
          </li>
          <li id="1656">
            <img src="./free-png.ru-846.png" />
            <h1>1656</h1>
            <p>Русско-шведская война 1656-1661 (военные действия велись до 1658 года) стала второй войной между двумя странами в 17 столетии. Это была неудачная попытка царя Алексея Михайловича вернуть земли побережья Балтики, потерянные в 1617 году после первого вооруженного конфликта. Швеция по итогам войны 1656-1661 годов закрепила свой статус доминирующей державы на Балтийском море и продолжила экспансию в Польше, Литве и Западной Украине.</p>
          </li>
          <li id="1667">
            <img src="./302133.png" />
            <h1>1667</h1>
            <p></p>Одно из самых масштабных восстаний в российской истории, а также самое крупное событие Бунташного века, началось с ущемления прав казачьей вольницы. Восстание Степана Разина охватило почти всю Россию, он собрал огромную армию, к которой присоединялись все недовольные, от казаков и крепостных крестьян до некоторых помещиков, преследовавших собственные цели. Бунт был подавлен, а Степан Разин – казнён.
          </li>
          <li id="1677">
            <img src="./free-png.ru-875.png" />
            <h1>1677</h1>
            <p>Русско-турецкая война 1676-1681 годов стала первым открытым столкновением России и Османской Империи. В сложный для страны период восстановления после тягот смутного времени Россия была ещё не готова к противостоянию с мощным противником. До этой войны Россия вела военные действия только с Крымским ханством – подданным Османской империи.</p>
          </li>
           <li id="1">
            <img src="" />
            <h1>197</h1>
            <p>.</p>
          </li> 
          <li id="198">
            <img src="" />
            <h1>198</h1>
            <p></p>
          </li>
          <li id="199">
            <img src="" />
            <h1>199</h1>
            <p></p>
          </li>
          <li id="200">
            <img src="" />
            <h1>200</h1>
            <p></p>
          </li>
          <li id="201">
            <img src="" />
            <h1>201</h1>
            <p></p>
          </li>
        </ul>
        <div id="grad_top"></div>
        <div id="grad_bottom"></div>
        <a href="#" id="next">+</a>
        <a href="#" id="prev">-</a>
      </div>
      
        <div class="btn-up btn-up_hide"></div>
    </div> -->

<div>
    <div class="special"><img src="img/c6fcc33e78681afb359badc2e37d8b6f.jpg">
      <div class="s-p">
        <h3>Правители эпохи</h3>
        <p>Именно в период 17-го века в России произошло формирование новой правящей династии - Романовы.<br>Бунташный
          век в истории России пришелся на период правления следующих царей:<br>Продолжение
          слудет...<br><br><br><b><i></i></b></p>
        <button class="button10">Перейти</button>
      </div>
    </div>

    <div class="special"><img src="img/M4Z1UKSKQUg.jpg">
      <div class="s-p">
        <h3>Итоги бунташного века</h3>
        <p>Неправильное управление страной и игнорирование воли и желаний народа. Итогом бунташного века стала
          безрезультатность. <br>Продолжение слудет...<br><br><br><br><b><i></i></b></p>
        <button class="button11">Перейти</button>
      </div>
    </div>

    <div class="special"><img src="img/i (248).webp">
      <div class="s-p">
        <h3>БУНТАШНЫЙ ВЕК НАЗЫВАЕТСЯ</h3>
        <p>XVII век называют "Бунташным веком" во многом благодаря народным движениям (бунтам и
          восстаниям)<br>Продолжение слудет...<br><b><i></i></b></p>
        <button class="button12">Перейти</button>
      </div>
    </div>

    <div class="special"><img src="img/1667503285_maz1.jpg">
      <div class="s-p">
        <h3>Виды Бунтов</h3>
        <p>17-й век в истории России получил название Бунташного. Как бы то ни было, все события Бунташного века были
          обусловлены определёнными причинами, и все они имели далекоидущие последствия.<br>Продолжение
          слудет...<br><br><br><br><b><i></i></b></p>
        <button class="button13">Перейти</button>
      </div>
    </div>

    <div class="special"><img src="img/d4pt3qowwaaeres.jpg"">
    <div class=" s-p">
      <h3>Причины </h3>
      <p>Увиличение налога на быт<br>На род устал от воин с Польшей и Швецией.<br>Церковный раскол. В церковном укладе
        менялось практически все. Ситуация усугублялась тем, что власть преследовала старообрядцев.<br>Продолжение
        слудет.....<br><br><b><i></i></b></p>
      <button class="button14">Перейти</button>
    </div>
    </div>

    <div class="special"><img src="img/vosstaniya-v-17-veke.jpg">
      <div class="s-p">
        <h3>Карта Восстаний</h3>
        <p>Карта восстаний бунташного века<br>Продолжение слудет...<br><br><br><br><b><i></i></b></p>
        <button class="button15">Перейти</button>
      </div>
    </div>

    


    <div class="flex">

      <h1 class="border">

        Бунташный век называется
      </h1>

      <div class="card">

        <img class="img" src="img/msg1469986633-33497 (1).jpg" alt="">
      </div>

      <div class="card">




        <p class="border1">

          XVII век называют "Бунташным веком" во многом благодаря народным движениям (бунтам и восстаниям), которые
          происходили с большой регулярностью и отличались своим размахом. В Бунташный век произошло 5 крупных восстаний
           и огромное количество мелких восстаний, которые даже невозможно
          сосчитать. Основные народные движения той эпохи представлены в таблице ниже. Обратите внимание, что для
          подавления большинства восстаний использовалась регулярная армия. Причем не самые маленькие части, а самые
          боеспособные. Считается, что если в столетии происходит 2-3 крупных народных восстания, то это означает, что в
          стране есть проблема. 


        </p>

      </div>








      <h1 class="border">

        царь Михаил Романов
      </h1>

      <div class="card">

        <img class="img" src="img/fvMoBNOoTLw.jpg">

      </div>

      <div class="card">
        <p class="border1">
          После периода семибоярщины и изгнания поляков с территории России страна нуждалась в новом царе. В ноябре 1612
          года Минин и Пожарский разослали письма во все уголки страны, призывая народ принять участие в Земском соборе
          и
          выбрать царя России. В январе представители были собраны в Москве. Всего в работе Земского собора приняли
          участие 700 человек. Два месяца продолжалось обсуждение. В итоге царем России был признан Михаил Федорович
          Романов.
          Царь Михаил Романов имел от рождения всего 16 лет. Его кандидатура на роль царя устраивала многих бояр,
          которые
          рассчитывали управлять страной, пользуясь малым возрастом царя. Таким образом, в стране была основана новая
          царская династия, которая правила страной вплоть до Октябрьской революции. 

          Опеку над малолетним царем взяла его мать, Марфа, которая была провозглашена государыней. Тот же царь Михаил
          Романов, придя к власти, торжественно пообещал, что страной будет править справедливость. Он также обещал
          прислушиваться к Земскому собору и Боярской думе. И так продолжалось до 1619 года. В этом году отец Михаила,
          Филарет, вернулся из плена. С этого момента Филарет стал практически править страной. Так продолжалось до 1633
          года, когда Филарет умер.


        </p>

      </div>
















      </p>



      <h1 class="border">

        царь Федор Алексеевич Романов

      </h1>

      <div class="card">

        <img class="img" src="img/c6fcc33e78681afb359badc2e37d8b6f.jpg">

      </div>

      <div class="card">
        <p class="border1">
          Царь Федор Алексеевич Романов пришел к власти в 1676 году, после смерти своего отца. Ему досталась страна, в
          которой в народе царил дух свободы. Это привело к довольно крупным восстаниям. Кроме того, Россия была
          истощена
          войной с Польшей, которая длилась 15 лет.
          

          Присоединение Украины к России, которое осуществил Алексей Романов, вовлекло его в войну с Польшей, а его сын,
          Федор, готовился к войне с Турцией. Турция не желала мириться с тем, что левобережная Украина принадлежала
          России, а правобережная - Польше. Османы хотели полностью подчинить себе Украину. Это привело к войне между
          Турцией и Польшей в 60-х годах прошлого века. В результате этой войны правобережная Украина отошла к Турции.
          
          Это стало основной причиной войны между Турцией и Россией. В результате в 1676 году разразилась война. Царь
          Федор Алексеевич Романов собрал большую армию для борьбы с османами. Война шла с переменным успехом и
          продолжалась до 1681 года. В этом году Россия и Турция подписали Бахчисарайский мирный договор. По условиям
          этого договора Турция признала право России на левобережную Украину и Киев.

          В эти годы царь Федор не оставлял начинаний отца и регулярно отправлялся в походы в Сибирь и на Дальний
          Восток,
          понимая важность этих земель для Российского государства в будущем.
    
          Во время правления Федора Алексеевича народные волнения продолжались, хотя и не с такой силой, как при царе
          Алексее. Главными недовольными в период правления Федора Алексеевича были старообрядцы. Впервые в русской
          церкви
          произошел раскол. Старообрядцы не признавали новую церковь, поднимая народные восстания. Первые
          старообрядческие
          восстания относятся к 1675 году. Люди не только поднимались на борьбу с церковью, но и жертвовали собой ради
          этого дела. Протесты старообрядцев продолжались до 1695 года. За эти годы более двадцати тысяч человек погибли
          в
          результате самопожертвования во имя религиозных целей.
          Федор Алексеевич был крестным отцом Петра I, будущего великого правителя России.
          
          Федор Алексеевич любил Петра и делал все, чтобы ребенок получил хорошее образование. Он приставил к юному
          Петру
          дьячка Зотова, который обучил Петра 1 грамоте. Со смертью Федора обучение будущего императора России
          закончилось.
          
          Царь Федор Алексеевич Романов не мог долго наслаждаться перемирием. Уже в 1682 году царь умер, не оставив
          наследника, так как был слаб здоровьем.





        </p>

      </div>










      <h1 class="border">

        Карта восстаний


      </h1>
      <div class="card">
        <img class="img" src="img/vosstaniya-v-17-veke.jpg" alt="">
      </div>

      <p class="border1">















      </p>

      <h1 class="border"> Восстание под предводительством Степана Разина</h1>

      <div class="card">

      </div>

      <div class="card">

        <p class="border1">






          На окончательное закрепощение крестьян, ограничение вольности казаков и рост налогов в годы
          правления второго Романова русский народ ответил однозначно в 1670 году. Тогда началось восстание крестьян и
          казаков под предводительством Степана Разина. 

          К середине XVII века на Дону, где действовало правило «с Дону выдачи нет», скопилось огромное количество
          беглых
          крестьян. Жившие здесь ранее казаки назывались «домовитые». Они получали от царя жалованье, вели собственное
          хозяйство, могли заниматься торговлей. Массовое бегство крестьян из центральных районов России привело к
          созданию нового слоя — «молодых, голутвенных» казаков, то есть голытьбы. 

          В 1660-е на Дону начался голод. Тогда и появился один из будущих вождей восстания Василий Ус. Вместе с
          отрядами
          голытьбы он пошёл на Москву, грабя поместья, но, испугавшись высланного навстречу войска, вернулся на Дон.
          Многие из казаков, ходивших с Усом, затем отправились вместе с Разиным в так называемый Поход за зипунами
          1667−1669, который сейчас относят к первому этапу восстания, хотя поход был скорее подготовкой. Главным
          достижением разинцев в этот период является поход в Персию, разгром персов и хорошая добыча: оружие и
          ценности.
          Казаки возвращались на Русь через Астрахань. Тамошний воевода не захотел сражаться с казаками и пропустил их,
          заставив оставить лишь тяжёлые пушки. 
        </p>

      </div>


      <div class="card">

        <img class="img"
          src="img/1580452805_razin-na-starinnoj-nemeckoj-gravjure-hranitsja-v-biblioteke-gejdelbergskogo-universiteta.jpeg"
          alt="">

      </div>

      <div class="card">

        <p class="border1">

          Само восстание против царских войск и дворянства началось в 1670 году с взятия Царицына (ныне Волгоград).
          Казаки
          окружили город, в котором начала ощущаться нехватка воды, а скот жителей начинал голодать без травы.
          Постепенно
          в городе созрело недовольство знатью и воеводой, был подготовлен бунт.

          Воевода города Тимофей Тургенев решил попробовать договориться с казаками, чтобы жителям можно было хотя бы
          забирать воду из Волги. На переговоры он послал горожан, которые… скоординировали свои действия и начало бунта
          с
          казаками. В итоге Царицын был взят практически без боя: многие стрельцы и горожане перешли на сторону казаков,
          а
          вся знать была перебита или утоплена. 

          В следующие месяцы разинцы одерживают победа за победой. Перебит отряд стрельцов Ивана Лопатина, выживших
          взяли
          в плен и сделали гребцами. Затем взят Камышин, и не без помощи местных жителей. Стрельцов, дворян и воеводу
          казнили, местным велели собрать вещи и покинуть город. Затем Камышин разграбили и сожгли. Далее важный пункт
          на
          Волге — Астрахань. Там стрельцы были благосклонны к Разину и злы на начальство, задерживавшее выплаты
          жалования.
          Посланный против Разина астраханский флот перешёл на его сторону. Когда казаки напали на Астрахань, в городе
          вспыхнуло восстание стрельцов и бедноты. Известно, что стало с дворянами и воеводой. 
        </p>

      </div>

      <div class="card">
        <img class="img" src="img/e9e61cf8b6862be8ee6da8247cef0c71.jpg" alt="">

      </div>

      <div class="card">

        <p class="border1">


          После этих побед на сторону Разина и его казаков перешло Среднее Поволжье: Саратов, Самара, Пенза, а также
          чуваши, марийцы, татары и мордва. Во многом этому способствовало то, что Степан Разин объявлял каждого
          крестьянина, перешедшего на его сторону, свободным человеком. Под Самарой Разин объявил, что с ним идут
          патриарх
          Никон и царевич Алексей Алексеевич. Это ещё больше увеличило приток бедняков в его ряды. 

          Поход Разина на Волгу сопровождался массовыми восстаниями крепостных в этой недавно закрепощённой местности.
          Тут
          на первый план вышли местные лидеры, одним из которых была беглая монахиня Алёна Арзамасская. 


          В сентябре 1670 года разинцы осадили Симбирск, но не смогли взять его. На Разина двинулись правительственные
          войска во главе с князем Ю. А. Долгоруковым. Царские войска спустя месяц после начала осады нанесли повстанцам
          поражение, а тяжело раненного Разина сподвижники вывезли на Дон. Опасаясь расправы, казачья верхушка во главе
          с
          войсковым атаманом Корнилом Яковлевым выдала Разина властям. В июне 1671 года он был четвертован в Москве; его
          брат Фрол предположительно был казнен в тот же день. Несмотря на гибель лидера, восставшие продолжали
          сражаться.
          Так, разинцы удерживали Архангельск до ноября 1671 года, а отдельные очаги ещё долго не погасали. <br>

          Примечательно, с каким ожесточением проводились расправы над восставшими. В одном Арзамасе было казнено более
          11
          тысяч человек. Казачьих лидеров четвертовали, а уже упомянутую Алёну Арзамасскую и вовсе сожгли заживо. <br>

          Причины поражения восставших просты до банальности: стихийность и низкая организованность, разрозненность
          действий крестьян и плохое понимание собственных задач и конечных целей помимо отмены крепостного права. <br>
        </p>

      </div>

      <h1 id="bor" class="border">Медный бунт</h1>

      <div class="card">

        <img class="img" src="./img/53536ece4da441333e98d4dd94d17a1d.webp" alt="">

      </div>

      <div class="card">

        <p class="border1"> В 1660-х годах Алексей Михайлович приказал выпустить медные деньги, которые по ценности
          должны
          были стать равны серебряным. Распространение медяков по всей стране обесценило деньги. Итогом стал Медный бунт
          1662 года.


          Бунтовали практически все незнатные слои городского населения: ремесленники, мелкие торговцы, крестьяне и
          беднота. Они отказывались принимать медные деньги и громили дворы тех, кто был причастен к чеканке медяков.
          Толпа ворвалась в село Коломенское, резиденцию царя в то время. Испугавшись, царь вышел к народу и обещал
          осудить «изменников». А в это самое время из Москвы к царю на помощь шло войско. Бунт подавили, но и медные
          деньги вывели из оборота.


        </p>

      </div>

      <h1 class="border">Соляной бунт</h1>

      <div class="card">

        <img class="img" src="./img/736d5eeadd248b0ae782a2138be76a10.webp" alt="">

      </div>

      <div class="card">

        <p class="border1">Взойдя на престол, молодой царь Алексей Михайлович столкнулся с тем, что казне постоянно не
          хватает денег. Правительство во главе с боярином Борисом Морозовым предложило провести реформы, чтобы
          пополнить
          казну. В частности, были отменены «урочные лета» (по истечении которых беглый крестьянин становился
          свободным),
          ликвидированы «белые» слободы (принадлежавшие феодалам и не облагавшиеся налогами), но самое главное — были
          введены косвенные подати. В том числе и налог на ввоз соли.


          Соль нужна была людям не столько как приправа, сколько как консервант. Без неё было невозможно заготовить еду
          на
          зиму: рыбу, овощи, грибы, сало. И в это же самое время тысячи пудов рыбы сгнили на Волге без соли.
          Недовольными
          оказались не только бедняки, но и купцы, которые несли убытки. Казна же всё не пополнялась.

          В результате всеобщего недовольства сложившимся положением в 1648 году в Москве произошёл Соляной бунт. Были
          убиты близкие царю люди. Двор боярина Морозова, которого считали главным виновником повышения налога на соль,
          разграбили. Царь испугался. Он отстранил от дел боярина Морозова и сослал его. Бунт в столице пошёл на убыль.



        </p>

      </div>

      <h1 class="border"> Стрелецкий бунт</h1>

      <div class="card">

        <img class="img" src="./img/af8015662aba2ad9b6b52292ae770602.webp" alt="">

      </div>

      <div class="card">

        <P class="border1">В качестве причин очередного стрелецкого бунта называют недовольство условиями
          недостаточность
          жалования, оторванность от семей, назначение иностранных офицеров на высшие военные должности. Однако бунт
          носил
          не только экономический и социальный, но также политический характер: по многим свидетельствам и показаниям,
          стрельцы планировали возвести на престол царевну Софью, бывшую регентшей при малолетних Петре и Иване.
          Компромиссное правительство Софьи Алексеевны устраивало стрельцов, олицетворявших интересы городских
          обывателей.


          В качестве причин очередного стрелецкого бунта называют недовольство условиями недостаточность жалования,
          оторванность от семей, назначение иностранных офицеров на высшие военные должности. Однако бунт носил не
          только
          экономический и социальный, но также политический характер: по многим свидетельствам и показаниям, стрельцы
          планировали возвести на престол царевну Софью, бывшую регентшей при малолетних Петре и Иване. Компромиссное
          правительство Софьи Алексеевны устраивало стрельцов, олицетворявших интересы городских обывателей.








        </p>



      </div>


      <h1 class="border">

        Причины




      </h1>

      <div class="card">

        <img class="img" src="img/msg1469986633-33495 (2).jpg" alt="">

      </div>

      <div class="card">


        <p class="border1">


          Существует несколько основных причин народных восстаний:
          Тяжелые налоги.
          Иногда поверх непомерных налогов вводились чрезвычайные налоги.
          К призывному населению добавлялись все новые категории жителей.
          Злоупотребление властью и нежелание прислушиваться к народу.
          Появление пригородного класса "трутней"





        </p>

      </div>

      <h1 class="border">Итоги бунташного века</h1>

      <div class="card">

        <img class="img" src="./css/css/img/download.jpeg" alt="">

      </div>


      <div class="card">

        <p class="border1">Неправильное управление страной и игнорирование воли и желаний народа. Итогом бунташного века
          стала безрезультатность. Несмотря на все восстания и противостояния, голос селян не был услышан, продолжались
          обложения налогами и игнорирование людей. Злоупотребление властью только расширялось и усилилось, все жаждали
          расширения полномочий, никто не соблюдал закон, который им не угоден.</p>

      </div>

    </div>

    <div class="buttonPosition">
      <!-- <button class="button" id="open_pop_up">Тест</button> -->
    </div>

    <div class="pop_up" id="pop_up">
      <div class="pop_up_container">
        <div class="pop_up_body" id="pop_up_body">


          <section class="main">

            <form name="quiz" action="javascript:check();" class="quizform">

              <div class="quizsection">

              
                  <h1>В каком году Минин и Пожарский отправили письма во все угалки мира </h1>

                  <div class="answer">
                    <input onclick="change(this)" type="submit" value="Показать" title="Перевести" name="q1"
                      value="value2" id="value1" type="radio" checked="checked" /> В ноябре 1612
                  </div>

                  <div class="answer">
                    <input onclick="change(this12)" type="submit" value="Показать" title="Перевести" name="q1"
                      value="value1" id="value2" type="radio" /> В декабре 1612
                  </div>

                  <div class="answer">
                    <input onclick="change(this1)" type="submit" value="Показать" title="Перевести" name="q1"
                      value="value1" id="value3" type="radio" /> В марте 1612
                  </div>

                  <div class="answer">
                    <input onclick="change(this1)" type="submit" value="Показать" title="Перевести" name="q1"
                      value="value1" id="value4" type="radio" /> Нет правильного ответа
                  </div>



                </div>

                <div class="quizsection">

                  <h1>Причины бунташного века</h1>

                  <div class="answer">
                    <input onclick="change(this1)" type="submit" value="Показать" title="Перевести" name="q2"
                      value="value1" id="value1" type="radio" checked="checked" /> Больщие налоги
                  </div>

                  <div class="answer">
                    <input onclick="change(this1)" type="submit" value="Показать" title="Перевести" name="q2"
                      value="value2" id="value2" type="radio" /> Злоупотребление властью
                  </div>

                  <div class="answer">
                    <input onclick="change(this1)" type="submit" value="Показать" title="Перевести" name="q2"
                      value="value1" id="value3" type="radio" /> нежелание прислушиваться к народу
                  </div>

                  <div class="answer">
                    <input onclick="change(this)" type="submit" value="Показать" title="Перевести" name="q2"
                      value="value1" id="value4" type="radio" /> Всё правильно
                  </div>

                  <div class="answer">
                    <input onclick="change(this1)" type="submit" value="Показать" title="Перевести" name="q2"
                      value="value1" id="value5" type="radio" /> Всё не правильно
                  </div>


                </div>

                <div class="quizsection">

                  <h1>Медный бунт</h1>

                  <div class="answer">
                    <input onclick="change(this)" type="submit" value="Показать" title="Перевести" name="q3"
                      value="value1" id="value1" type="radio" checked="checked" /> 1662

                  </div>


                  <div class="answer">
                    <input onclick="change(this1)" type="submit" value="Показать" title="Перевести" name="q3"
                      value="value1" id="value2" type="radio" /> 1632
                  </div>

                  <div class="answer">
                    <input onclick="change(this1)" type="submit" value="Показать" title="Перевести" name="q3"
                      value="value2" id="value3" type="radio" /> 1669
                  </div>

                  <div class="answer">
                    <input onclick="change(this11)" type="submit" value="Показать" title="Перевести" name="q3"
                      value="value1" id="value4" type="radio" /> 1661
                  </div>

                  <div class="answer">
                    <input onclick="change(this1)" type="submit" value="Показать" title="Перевести" name="q3"
                      value="value1" id="value5" type="radio" /> 1678
                  </div>

                  <div class="answer">
                    <input onclick="change(this1)" type="submit" value="Показать" title="Перевести" name="q3"
                      value="value1" id="value6" type="radio" /> 1686
                  </div>

                </div>

                <input value="Submit" type="submit" /> <input value="Reset" type="reset" />

            </form>

          </section>
        </div>
        




        <div class="pop_up_close" id="pop_up_close">&#10006<div>
          </div>
        </div>
      </div>
      <script src="js/test.js"></script>
      <!-- <div class="div">
                      <p class="p" id ='one'>
                         Правители бунташного века
                         
                      </p>
                      <p class="p" id = 'two'>
                            
                      </p>
                        <p class="p" id = 'three'>
                           
                      </p>
                      </div> -->







      <!-- <div class="gallery">
   
    <img src="./i.webp">
    <img src="./m1000x1000.jpeg">
    <img src="./646771.jpg" alt="a small boat">
    <img src="./c6fcc33e78681afb359badc2e37d8b6f.jpg" alt="a fores">
  </div>  -->
  </main>

  <footer>

    <div class="div2">
      <ul class="ul2">
        <li class="li2"><a href="https://t.me/+9zrmAjyVZEljYjBi">Telegram</a></li>
        <li class="li2"><a href="https://vk.com/id28587250">VK</a></li>
        <li class="li2"><a href="https://discord.gg/CP6vaYUmYy">Discord</a></li>
        <li class="li2"><a href="../prototype/hello.html">АВТОРЫ</a></li>
        <li class="li2"><a href="https://github.com/">Github</a></li>
        <li>
          <p class="p">👋</p>
        </li>
      </ul>
    </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-2.2.4.min.js"><\/script>')</script>
  <script src="./js/js/functions-min.js"></script>
  <script src="js/animation.js"></script>
  <script src="js/button11.js"></script>
  <script src="js/button12.js"></script>
  <script src="js/button13.js"></script>
  <script src="js/button14.js"></script>
  <script src="js/button15.js"></script>
  <script src="js/era.js"></script>
  <script src="js/jquery.js"></script>
  <script src="js/timelien.js"></script>
  <script src="js/verh.js"></script>
  <script src="js/yrok.js"></script>
  <script src="/js/dark-theme.js"></script>
  <script src="/template/js/index.js"></script>
  <script src="/template/js/test.js"></script>
  <script src="/template/js/jquery.js"></script>
  <script type="text/javascript">



    var result;

    function check() {

      var question;
      var value1;
      var value2;


      question = 1;
      value1 = 0;
      value2 = 0;


      result = "";

      var choice;

      for (question = 1; question <= 3; question++) {

        var q = document.forms['quiz'].elements['q' + question];

        for (var i = 0; i < q.length; i++) {
          if (q[i].checked) {
            choice = q[i].value;
          }
        }

        if (choice == "value1") {
          value1++;
        }

        if (choice == "value2") {
          value2++;
        }


      }

      if (value2 == 0) {

        // Нет правильных ответов
        result = "ocenka2";

      }

      else if (value2 == 1) {

        // Один правильный ответ
        result = "ocenka3";

      }

      else if (value2 == 2) {

        // Два правильных ответа
        result = "ocenka4";

      }

      else if (value2 == 3) {

        // Три правильных ответа
        result = "ocenka5";

      }




    }

 // ]]></script>


  <script src="./js/scroll.js"></script>

</body>

</html>
